﻿#menu {
    height: 100px;
    position: fixed;
    z-index: 99999;
}


/*Navigation bar styling*/
#navigation {
    width: 50%;
    text-align: left;
}

#navcolor {
    padding-left: 9em;
    width: 100%;
    height: 3em;
    top: 0;
    position: fixed;
    background-color: #292929;
}

#navigationbar {
    display: inline-block;
    position: fixed;
    list-style: none;
    overflow: hidden;
    margin: 12px;
}

    #navigationbar a {
        color: white;
        padding: 14px 25px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
    }

    #navigationbar li {
        float: left;
    }

        #navigationbar li a:hover {
            text-decoration: underline;
        }

.container{
    padding-top: 5em;
}

body p {
    font-family: 'Open Sans', sans-serif;
}

body h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    font-weight:bold;
}

body h2 {
    padding-top: 1em;
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

body h3 {
    padding-top: 1em;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

body ul {
    font-family: 'Open Sans', sans-serif;
}

.listnumbers{
    list-style-type: decimal;
}

.listitems{
    padding-bottom: 1em;
}

.requirements{
    font-weight: bold;
}

#homeIntroduction{
    padding-top: 1em;
}

#homeImage{
    float: right;
    margin-top: -20em;
}

#OOPImage{
    margin-top: 5em;
}

#Angular2Module{
    margin-bottom: 2em;
}

#Angular2Component{
    margin-bottom: 2em;
}

#moduleTitle{
    padding-bottom: 0.25em;
}

#moduleExplanation{
    padding-top: 1em;
}

#componentExplanation{
    padding-top: 1em;
}

#footer {
    position: absolute;
    left:0;
    right:0;
    background-color: #292929;
    width: 100%;
}

#footertext{
    color: white;
    float: right;
    padding-right: 1em;
    line-height: 3em;
    margin-top: 0.75em;
}

#footertext2{
    color: white;
    padding-left: 1em;
    line-height: 3em;
    margin-top: 0.75em;
}